@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 1.4;
}
a {
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}

/* utility classes */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: rgb(180, 44, 44);
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background:  #333;
    color: #fff;
    height: 550px;
}
.bg-primary{
    color: #fff;
    background: rgb(177, 26, 26);
}
.l-heading{
    font-size: 3rem;
    margin-bottom: 0.30rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}

.list{
    margin: 0.5rem 0;
    list-style: none;

}
.list li{
    padding: 0.5rem 0;
    border-bottom: rgb(177, 26, 26) dotted 1px;
}
.btn{
    display: inline-block;
    color: #fff;
    background: rgb(177, 26, 26);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn-dark{
    background:rgb(255, 255, 255);
    color: rgb(139, 28, 28);
}
.btn:hover{
    background: rgb(88, 24, 24);
}
/* nav bar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgb(134, 12, 23);
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1.5rem;
}
#navbar ul{
    display:flex;
    align-items:center;
    list-style: none;
    
}
#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
    text-align: left;
    right: 30px
    
}
#navbar ul li a:hover{
    background-color: rgb(177, 26, 26);
    border-radius: 5px;
}
.logo img{
    width: 110px;
    height: 40px;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 0.8px;
    top: 15px;
}
/* Showcase Area */
#showcase{
    background: #333 url('../pic/ygy36olvqwoasfdg3uut.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* overlay */
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Section What WE do */
#what .items  {
    display: flex;
    padding: 1rem;

}
#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    background: rgb(177, 26, 26);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;


}

/* Section who we are */
#who{
    display: inline;
}
#who div{
    flex: 1;
}
/*section sponsors*/

#sponsors{
    padding: 1rem;
}
#sponsors .items{
    display: flex;
    padding: 1rem;

}
#sponsors .items img{
    display: block;
    margin: auto;
    width: 60%;

}
/*Section Contact*/
#contact {
    display: flex;

}
#contact .map, #contact .contact-form{
    flex:1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label{
    display: block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
.services{
    height: 450px;
    background-color: #f6f5f5;
    padding: 2% 10% 0px 10%;
    position: relative;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #1d1c1c;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}
.services-text p:nth-child(2){
    font-family: calibri;
    color: #737d7d;
    text-align: center;
}
.services-text{
    margin: 30px 0px;
}
.box-container{
    display: flex;
    justify-content: center;
}
.box-1,.box-2,.box-3, .box-4,.box-5{
    width: 300px;
    height:320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 18px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
    margin-left: 20px;
}
.box-1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../pic/logos/senitari.jpg");
    background-size: cover;
    background-position: -45px;
}
.box-2{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../pic/logos/silat.jpg");
    background-size: cover;
    background-position: -20px;
}
 
.box-3{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../pic/logos/bola.jpg");
    background-size: cover;
    background-position: -20px;
}
.box-4{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../pic/logos/futsal.jpg");
    background-size: cover;
}
 
.box-5{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../pic/logos/pramuka.jpeg");
    background-size: cover;
}
.box-1 span,
.box-2 span,
.box-3 span,
.box-4 span,
.box-5 span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: calibri;
    font-weight: bold;
    margin-bottom: 15px;
}
 
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2),
.box-4 p:nth-child(2),
.box-5 p:nth-child(2){
    color:#fae1e1;
    font-family: calibri;
    font-size: 23px;
    line-height:0px;
    font-weight: bold;
    margin-bottom: 15px;
}
 
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3),
.box-4 p:nth-child(3),
.box-5 p:nth-child(3){
    font-family: calibri;
    color:#fae1e1;
    text-align:center;
    width: 230px;
    margin:0px 0px 20px 0px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 12px;
}
 
.box-1 button,
.box-2 button,
.box-3 button,
.box-4 button,
.box-5 button{
    width:100px;
    height:30px;
    background-color:#FFFFFF;
    border:none;
    outline: none;
    border-radius:5px;
}
input[name="submit"]{
    background-color: #f6f8f9;
    margin-right: 15px;
    width: 100px;
    }
    input[name="reset"]{
        background-color: #f6f8f9;
        margin-right: 15px;
        width: 100px;
        }
table{
    font-size: 16px;
    margin-left: 18px;
    margin-bottom: 14px;
}
footer p{
    font-family: calibri;
}
 
footer p:nth-child(1){
    font-size: 30px;
    font-weight:bold;
    color:#FFFFFF;
    line-height:10px;
}
 
footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
}
 
footer{
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #191919;
}
  
.copyright{
    color:#ffffff;
    font-size: 15px;
    position:absolute;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
 
.social-icons{
    display: flex;
    color: #000;
     
}
 
.social-icons i,.social i{
    color:#000000;
}
 
.social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
 
.social-icons a:hover i,
.social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
}